<!-- Portfolio Grid Section -->
<section id="blog">
    <div class="container">
        <div class="row">
            <h1 class="section-heading">Lab.blog</h1>
        </div>
        <div class="row">
            <ul>
                {% for post in site.categories.blog %}
                <li>
                    <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
                    <h4>{{ post.date | date_to_long_string }}</h4>
                    {{ post.post_author }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>

<!--  <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/software/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div> -->
