<!-- About Section -->
    <section id="research">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">News</h2>
                    <h3 class="section-subheading text-muted">
                        <a href="https://utah.peopleadmin.com/postings/52651">We are looking to hire</a> a talented postdoctoral scientist who has a passion for genomics and the study of human disease. 
                        This scientist will lead the application and development of computational methods to 
                        multiple ongoing studies of rare human disorders that each leverage the power of family genetics.
                        We are committed to building a diverse laboratory and we strongly encourage applications 
                        from female and minority candidates. If interested, please email Aaron Quinlan and apply
                        <a href="https://utah.peopleadmin.com/postings/52651">here</a> by providing your CV, 
                        two letters of recommendation, and a statement articulating your postdoctoral and future 
                        career goals.
                    </h3>
                </div>
            </div>
        </div>
    </section>