<!-- News Section -->
    <section id="news">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">News</h2>
                    <h3 class="section-subheading text-muted">
                        Our <a href="https://www.nature.com/articles/s41588-018-0294-6.epdf?author_access_token=N8RkVYcavtplcSSE2KJkNdRgN0jAjWel9jnR3ZoTv0OG-o3UTB17cpoBs8B6XMBCl-5E0ZvpOii0iPl_hRSMGjWfkG4em7gjy95eV4bkTb0AF-E_dj3obeJfaadTja3aj9hUh1xk_BIztWgJScFx8w%3D%3D">manuscript</a> identifying constrained coding regions in the human genome was just published in Nature Genetics, and it made the cover! We have written a blog post describing the motivation and key results. In addition, there is a <a href="https://healthcare.utah.edu/publicaffairs/news/2018/12/quinlan-model.php">nice writeup</a> of our work and a short video below providing a high level overview.
                        <br>
                        <iframe width="1013" height="570" src="https://www.youtube.com/embed/KGJYfw_V0wo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </h3>
                    <h3 class="section-subheading text-muted">
                        Our research into the genetic basis of rare human diseases is featured in a recent 
                        Scope Radio interview: <a href="http://healthcare.utah.edu/the-scope/shows.php?shows=0_f2759no6">"Backed by Computer Power, Scientists Are Finding the Causes of Mysterious Diseases"</a>
                    </h3>
                    <h3 class="section-subheading text-muted">
                        <a href="https://utah.peopleadmin.com/postings/52651">We are always looking to add</a> motivated, talented graduate students and postdoctoral scientist to our team. If interested, please email Aaron Quinlan articulating your research experience and career goals.
                    </h3>
                </div>
            </div>
        </div>
    </section>