<!-- Services Section -->
    <section id="publications">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Publications</h2>
                </div>
            </div>
<!-- Preprints -->
            <div class="row text-center">
            <h2 class="section-heading">Preprints</h2>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="https://www.biorxiv.org/content/early/2017/11/16/220814">A map of constrained coding regions in the human genome.</a></h3>
                    <p class="text-muted">James M. Havrilla, Brent S. Pedersen, Ryan M. Layer, <strong>Aaron R. Quinlan</strong></p>
                    <p class="text-muted">doi: https://doi.org/10.1101/220814</p>
                </div>
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="https://www.biorxiv.org/content/early/2017/04/13/127043">Limited contribution of rare, noncoding variation to autism spectrum disorder from sequencing of 2,076 genomes in quartet families</a></h3>
                    <p class="text-muted">Donna M Werling, Harrison Brand, Joon-Yong An, Matthew R Stone, Joseph T Glessner, Lingxue Zhu, Ryan L Collins, Shan Dong, <strong>Ryan M Layer</strong>, Eiriene-Chloe Markenscoff-Papadimitriou, Andrew Farrell, Grace B Schwartz, Benjamin B Currall, Jeanselle Dea, Clif Duhn, Carolyn Erdman, Michael Gilson, Robert E Handsaker, Seva Kashin, Lambertus Klei, Jeffrey D Mandell, Tomasz J Nowakowski, Yuwen Liu, Sirisha Pochareddy, Louw Smith, Michael F Walker, Harold Z Wang, Mathew J Waterman, Xin He, Arnold R Kriegstein, John L Rubenstein, Nenad Sestan, Steven A McCarroll, Ben M Neale, Hilary Coon, A. Jeremy Willsey, Joseph D Buxbaum, Mark J Daly, Matthew W State, <strong>Aaron Quinlan</strong>, Gabor T Marth, Kathryn Roeder, Bernie Devlin, Michael E Talkowski, Stephan J Sanders</p>
                    <p class="text-muted">doi: https://doi.org/10.1101/127043</p>
                </div>
            </div>
<!-- 2017 -->
            <div class="row text-center">
            <h2 class="section-heading">2017</h2>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="https://www.biorxiv.org/content/early/2017/04/20/128835">Nanopore sequencing and assembly of a human genome with ultra-long reads</a></h3>
                    <p class="text-muted"> Miten Jain, Sergey Koren, Josh Quick, Arthur C Rand, <strong>Thomas A Sasani</strong>, John R Tyson, Andrew D Beggs, Alexander T Dilthey, Ian T Fiddes, Sunir Malla, Hannah Marriott, Karen H Miga, Tom Nieto, Justin O'Grady, Hugh E Olsen, Brent S Pedersen, Arang Rhie, Hollian Richardson, <strong>Aaron Quinlan</strong>, Terrance P Snutch, Louise Tee, Benedict Paten, Adam M. Phillippy, Jared T Simpson, Nicholas James Loman,  View ORCID ProfileMatthew Loose</p>
                    <p class="text-muted">In press, Nature Biotechnology</p>
                </div>
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="https://www.biorxiv.org/content/early/2017/06/29/157735">GIGGLE: a search engine for large-scale integrated genome analysis</a></h3>
                    <p class="text-muted">Ryan M. Layer, Brent S. Pedersen, Tonya DiSera, Gabor T. Marth, Jason Gertz, <strong>Aaron R. Quinlan</strong></p>
                    <p class="text-muted">In press, Nature Methods</p>
                </div>
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="https://academic.oup.com/bioinformatics/article/doi/10.1093/bioinformatics/btx699/4583630">mosdepth: quick coverage calculation for genomes and exomes</a></h3>
                    <p class="text-muted"> Brent S. Pedersen and <strong>Aaron Quinlan</strong></p>
                    <p class="text-muted">Bioinformatics doi.org/10.1093/bioinformatics/btx699</p>
                </div>
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="https://academic.oup.com/gigascience/article/6/11/1/4160383">Indexcov: fast coverage quality control for whole-genome sequencing.</a></h3>
                    <p class="text-muted"> Brent S. Pedersen, Ryan L Collins, Michael E Talkowski, <strong>Aaron Quinlan</strong></p>
                    <p class="text-muted">GigaScience doi.org/10.1093/gigascience/gix090</p>
                </div>
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="https://www.nature.com/nrg/journal/vaop/ncurrent/full/nrg.2017.52.html">Settling the score: variant prioritization and Mendelian disease.</a></h3>
                    <p class="text-muted">Karen Eilbeck*, <strong>Aaron Quinlan*</strong>, Mark Yandell</p>
                    <p class="text-muted">Nature Reviews Genetics doi:10.1038/nrg.2017.52</p>
                </div>
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="https://www.nature.com/articles/s41467-017-01174-3">Combating subclonal evolution of resistant cancer phenotypes.</a></h3>
                    <p class="text-muted">Andrea Bild, Samuel Brady, Jasmine McQuerry, Yi Qiao, Stephen Piccolo, Gajendra Shrestha, Ryan Layer, Brent Pedersen, David Jenkins, Ryan Miller, Amanda Esch, Sara Selitsky, Joel Parker, Layla Anderson, Chakravarthy Reddy, Jonathan Boltax, Dean Li, Philip Moos, Joe Gray, Laura Heiser, W. Evan Johnson, Saundra Buys, Adam Cohen, <strong>Quinlan AR</strong>, Gabor Marth, Theresa Werner, Brian Dalley, and Rachel Factor</p>
                    <p class="text-muted">Nature Communications, doi:10.1038/s41467-017-01174-3</p>
                </div>
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://www.sciencedirect.com/science/article/pii/S0360301617338300?via%3Dihub">Identification of ATIC as a novel target for chemoradiosensitization.</a></h3>
                    <p class="text-muted">Xiangfei Liu, Uma Devi Paila, Sharon N. Teraoka, Jocyndra A. Wright, Xin Huang, <strong>Quinlan AR</strong>, Richard A. Gatti and Patrick Concannon</p>
                    <p class="text-muted">International Journal of Radiation Oncology, doi:10.1016/j.ijrobp.2017.08.033</p>
                </div>

                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://www.cell.com/ajhg/fulltext/S0002-9297(17)30017-4">Who’s Who? Detecting and Resolving Sample Anomalies in Human DNA Sequencing Studies with Peddy.</a></h3>
                    <p class="text-muted">Pedersen BS, <strong>Quinlan AR†</strong></p>
                    <p class="text-muted">AJHG doi: 10.1016/j.ajhg.2017.01.017</p>
                </div>
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="https://academic.oup.com/bioinformatics/article/2971439/cyvcf2-fast-flexible-variant-analysis-with-Python">cyvcf2: fast, flexible variant analysis with Python.</a></h3>
                    <p class="text-muted">Pedersen BS, <strong>Quinlan AR†</strong></p>
                    <p class="text-muted">Bioinformatics doi: 10.1093/bioinformatics/btx057</p>
                </div>
                <div class="col-md-12">
                </div>
            </div>

            <div class="row text-center">
            <h2 class="section-heading">2016</h2>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://genomebiology.biomedcentral.com/articles/10.1186/s13059-016-0973-5">Vcfanno: fast, flexible annotation of genetic variants.</a></h3>
                    <p class="text-muted">Pedersen BS, Layer RM, <strong>Quinlan AR†</strong></p>
                    <p class="text-muted">Genome Biol. doi: 10.1186/s13059-016-0973-5</p>
                </div>
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://diabetes.diabetesjournals.org/content/early/2015/11/24/db15-0322.abstract">Targeted Deep Sequencing in Multiple-Affected Sibships of European Ancestry Identifies Rare Deleterious Variants in PTPN22 that Confer Risk for Type 1 Diabetes.</a></h3>
                    <p class="text-muted">Ge Y, Onengut-Gumuscu S, <strong>Quinlan AR</strong>, Mackey AJ, Wright JA, Buckner JH, Habib T, Rich SS, Concannon P.</p>
                    <p class="text-muted">Diabetes. pii: db150322</p>
                </div>
                <div class="col-md-12">
                </div>
            </div>


            <div class="row text-center">
            <h2 class="section-heading">2015</h2>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://www.nature.com/nmeth/journal/vaop/ncurrent/full/nmeth.3654.html">Efficient genotype compression and analysis of large genetic-variation data sets.</a></h3>
                    <p class="text-muted">Layer RM, Kindlon N, Karczewski K, Exome Aggregation Consortium, <strong>Quinlan AR†</strong></p>
                    <p class="text-muted">Nature Methods. doi:10.1038/nmeth.3654</p>
                </div>
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://ieeexplore.ieee.org/xpl/login.jsp?tp=&arnumber=7289350&url=http%3A%2F%2Fieeexplore.ieee.org%2Fiel7%2F5%2F4357935%2F07289350.pdf%3Farnumber%3D7289350">A parallel algorithm for N-way interval set intersection.</a></h3>
                    <p class="text-muted">Layer RM, <strong>Quinlan AR†</strong></p>
                    <p class="text-muted">IEEE Proceedings.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-fast-forward fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://www.nature.com/nmeth/journal/v12/n10/full/nmeth.3505.html">Speedseq: Ultra-fast personal genome analysis and interpretation.</a></h3>
                    <p class="text-muted">Chiang C, Layer RM, Faust GG, Lindberg MR, Rose DB, Garrison EP, Marth GT, <strong>Quinlan AR</strong>, Hall IM.</p>
                    <p class="text-muted">Nature Methods. doi:10.1038/nmeth.3505</p>
                </div>
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://archneur.jamanetwork.com/article.aspx?articleid=2279879">Rare and Coding Region Genetic Variants Associated With Risk of Ischemic Stroke: The NHLBI Exome Sequence Project.</a></h3>
                    <p class="text-muted">Auer PL, et al.</p>
                    <p class="text-muted">JAMA Neurology. doi:10.1001/jamaneurol.2015.0582</p>
                </div>
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://www.nature.com/ng/journal/v47/n4/full/ng.3245.html">Fine mapping of type 1 diabetes susceptibility loci and evidence for colocalization of causal variants with lymphoid gene enhancers.</a></h3>
                    <p class="text-muted">Onengut-Gumuscu S, Chen WM, Burren O, Cooper NJ, <strong>Quinlan AR</strong>, et al.</p>
                    <p class="text-muted">Nature Genetics. doi:10.1038/ng.3245</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://bioinformatics.oxfordjournals.org/content/31/8/1286">Population-based structural variation discovery with Hydra-Multi.</a></h3>
                    <p class="text-muted">Lindberg MR, Hall IM, <strong>Quinlan AR†</strong>, et al.</p>
                    <p class="text-muted">Bioinformatics. doi:10.1093/bioinformatics/btu771</p>
                </div>
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://www.genomebiology.com/2015/16/1/13">Extending reference assembly models.</a></h3>
                    <p class="text-muted">Church DM, Schneider VA, Steinberg KM, Schatz MC, <strong>Quinlan AR</strong>, Chin CS, Kitts PA, Aken B, Marth GT, Hoffman MM, Herrero J, Mendoza ML, Durbin R, Flicek P.</p>
                    <p class="text-muted">Genome Biology. doi:10.1186/s13059-015-0587-3.</p>
                </div>
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://www.nature.com/nature/journal/v518/n7537/full/nature13917.html">Exome sequencing identifies rare LDLR and APOA5 alleles conferring risk for myocardial infarction.</a></h3>
                    <p class="text-muted">Do R, et al.</p>
                    <p class="text-muted">Nature. doi:10.1038/nature13917</p>
                </div>
            </div>
            <div class="row text-center">
            <h2 class="section-heading">2014</h2>
            </div>
             <div class="row text-center">
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://www.ncbi.nlm.nih.gov/pubmed/25458999">Genetics of Systemic Lupus Erythematosus: Immune Responses and End Organ Resistance to Damage.</a></h3>
                    <p class="text-muted">Dai C, Deng Y, <strong>Quinlan AR</strong>, Gaskin F, Tsao B, Fu SM.
                    <p class="text-muted">Current Opinion in Immunology. doi:10.1016/j.coi.2014.10.004</p>
                </div>
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://www.gigasciencejournal.com/content/3/1/22/abstract">A reference bacterial genome dataset generated on the MinIONTM portable single-molecule nanopore sequencer.</a></h3>
                    <p class="text-muted">Quick J, <strong>Quinlan AR</strong>, Loman N.
                    <p class="text-muted">GigaScience. doi: 10.1186/2047-217X-3-22</p>
                </div>
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://bioinformatics.oxfordjournals.org/content/30/23/3399">PORETOOLS: a toolkit for working with nanopore sequencing data from Oxford Nanopore</a></h3>
                    <p class="text-muted">Loman N, <strong>Quinlan AR†</strong>, Loman N.
                    <p class="text-muted">Bioinformatics. doi:10.1093/bioinformatics/btu555</p>
                </div>
            </div>
             <div class="row text-center">
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://www.genomebiology.com/content/15/8/443">SubcloneSeeker: a computational framework for reconstructing tumor clone structure for cancer variant interpretation and prioritization.</a></h3>
                    <p class="text-muted">Qiao Y, Quinlan AR, Jazaeri A, Verhaak R, Wheeler D, Marth G.
                    <p class="text-muted">Genome Biology. doi:10.1186/s13059-014-0443-x</p>
                </div>
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://onlinelibrary.wiley.com/doi/10.1002/0471250953.bi1112s47/abstract">BEDTools: the Swiss-army tool for genome interval arithmetic.</a></h3>
                    <p class="text-muted"><strong>Quinlan AR†</strong>
                    <p class="text-muted">Current Protocols in Bioinformatics. doi: 10.1002/0471250953.bi1112s47</p>
                </div>
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://www.genomebiology.com/2014/15/6/R84/abstract">LUMPY: A probabilistic framework for sensitive detec- tion of chromosomal rearrangements.</a></h3>
                    <p class="text-muted">Layer RM, <strong>Quinlan AR†</strong>, Hall IM.
                    <p class="text-muted">Genome Biology. doi:10.1186/gb-2014-15-6-r84</p>
                </div>
            </div>
             <div class="row text-center">
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://www.nature.com/cddis/journal/v5/n3/full/cddis201499a.html">Homozygous mutation of MTPAP causes cellular radiosensitivity and persistent DNA double strand breaks.</a></h3>
                    <p class="text-muted">Martin N, Nakamura K, Paila U, Woo J, Brown C, Wright J, Teraoka S, Haghayegh S, Mc- Curdy D, Schneider M, Hu H, <strong>Quinlan AR</strong>, Gatti R, and Concannon P.
                    <p class="text-muted">Cell Death Dis. doi: 10.1038/cddis.2014.99</p>
                </div>
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://onlinelibrary.wiley.com/doi/10.1002/jbmr.2173/abstract">A Novel IFITM5 Mutation in Severe Osteogenesis Imperfecta Decreases PEDF Secretion by Osteoblasts.</a></h3>
                    <p class="text-muted">Farber CR, Reich A, Barnes AM, Becerra P, Rauch F, Cabral WA, Bae A, <strong>Quinlan AR</strong>, Glorieux FH, Clemens TL, and Marini JC.
                    <p class="text-muted">J Bone Miner Res. doi: 10.1002/jbmr.2173</p>
                </div>
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://www.cell.com/ajhg/abstract/S0002-9297(14)00315-2">Pathogenic variants for Mendelian and complex traits in exomes of 6,517 European and African Ameri- cans: implications for the return of incidental results.</a></h3>
                    <p class="text-muted">Tabor HK, Auer PL, Jamal SM, Chong JX, Yu JH, Gordon AS, Graubert TA, O’Donnell CJ, Rich SS, Nickerson DA; NHLBI Exome Sequencing Project, Bamshad MJ.
                    <p class="text-muted">Am J Hum Genet. doi: 10.1016/j.ajhg.2014.07.006</p>
                </div>
            </div>
             <div class="row text-center">
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3928660/">Whole-exome sequencing identifies rare and low-frequency coding variants associated with LDL cholesterol.</a></h3>
                    <p class="text-muted">Lange LA, Hu Y, Zhang H, NHLBI Grand Opportunity Exome Sequencing Project, et al.
                    <p class="text-muted">Am J Hum Genet. doi: 10.1016/j.ajhg.2014.01.010</p>
                </div>
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3959810/">Quantifying rare, deleterious variation in 12 human cytochrome P450 drug-metabolism genes in a large-scale exome dataset.</a></h3>
                    <p class="text-muted">Gordon AS, Tabor HK, Johnson AD, Snively BM, NHLBI GO Exome Sequencing Project, et al.
                    <p class="text-muted">Hum Mol Genet, doi: 10.1093/hmg/ddt588</p>
                </div>
            </div>
            <div class="row text-center">
            <h2 class="section-heading">2013</h2>
            </div>
             <div class="row text-center">
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1003153">GEMINI: Integrative Exploration of Genetic Variation and Genome Annotations.</a></h3>
                    <p class="text-muted">Paila U, Chapman BA, Kirchner R, <strong>Quinlan AR†</strong>.
                    <p class="text-muted">PLoS Comput Biol. doi:10.1371/journal.pcbi.1003153</p>
                </div>
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3852929/">Joint linkage and association analysis with exome sequence data implicates SLC25A40 in hypertriglyceridemia.</a></h3>
                    <p class="text-muted">Rosenthal EA, Ranchalis J, Crosslin DR, Burt A, Brunzell JD, Motulsky AG, Nickerson DA; NHLBI GO Exome Sequencing Project, Wijsman EM, Jarvik GP.
                    <p class="text-muted">Am J Hum Genet., doi: 10.1016/j.ajhg.2013.10.019</p>
                </div>
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3738837/">Recurrent gain-of-function mutation in PRKG1 causes thoracic aortic aneurysms and acute aortic dissections.</a></h3>
                    <p class="text-muted">Guo DC, Regalado E, NHLBI Grand Opportunity Exome Sequencing Project, et al.
                    <p class="text-muted">Am J Hum Genet., doi: 10.1016/j.ajhg.2013.06.019</p>
                </div>
            </div>
             <div class="row text-center">
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0065834">Fine-scale patterns of population stratification confound rare variant association tests.</a></h3>
                    <p class="text-muted">O’Connor TD, Kiezun A, Bamshad M, Rich SS, Smith JD, Turner E; NHLBIGO Exome Sequencing Project; ESP Population Genetics, Statistical Analysis Working Group, Leal SM, Akey JM.
                    <p class="text-muted">PLoS One. doi:10.1371/journal.pone.0065834</p>
                </div>
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3724194/">Common and rare von Willebrand factor (VWF) coding variants, VWF levels, and factor VIII levels in African Americans: the NHLBI Exome Sequencing Project.</a></h3>
                    <p class="text-muted">Johnsen JM, Auer PL, Morrison AC, Jiao S, Wei P, Haessler J, Fox K, McGee SR, Smith JD, Carlson CS, Smith N, Boerwinkle E, Kooperberg C, Nickerson DA, Rich SS, Green D, Peters U, Cushman M, Reiner AP; NHLBI Exome Sequencing Project.
                    <p class="text-muted">Blood. doi:10.1182/blood-2013-02-485094</p>
                </div>
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://circgenetics.ahajournals.org/content/6/2/144">Exome sequencing and genome-wide linkage analysis in 17 families illustrate the complex contribution of TTN truncating variants to dilated cardiomy- opathy.</a></h3>
                    <p class="text-muted">Norton N, Li D, Rampersaud E, Morales A, Martin ER, Zuchner S, Guo S, Gonzalez M, Hedges DJ, Robertson PD, Krumm N, Nickerson DA, Hershberger RE; National Heart, Lung, and Blood Institute GO Exome Sequencing Project and the Exome Sequencing Project Family Studies Project Team.
                    <p class="text-muted">Circ Cardiovasc Genet. doi:10.1161/CIRCGENETICS.111.000062</p>
                </div>
            </div>
             <div class="row text-center">
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://genome.cshlp.org/content/early/2013/03/19/gr.143677.112.abstract">Breakpoint profiling of 64 cancer genomes reveals numerous complex rearrangements spawned by homology-independent mechanisms.</a></h3>
                    <p class="text-muted">Malhotra A, Lindberg M, Leibowitz M, Clark R, Faust G, Layer R, <strong>Quinlan AR†</strong>, and Hall IM†.
                    <p class="text-muted">Genome Research, doi:10.1101/gr.143677.112</p>
                </div>
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://www.nature.com/doifinder/10.1038/nature11690">Analysis of 6,515 exomes reveals the recent origin of most human protein-coding variants</a></h3>
                    <p class="text-muted">Fu W, O’Connor TD, Jun G, Kang HM, Abecasis G, Leal SM, Gabriel S, Rieder MJ, Altshuler D, Shendure J, Nickerson DA, Bamshad MJ; NHLBI Exome Sequencing Project, Akey JM.
                    <p class="text-muted">Nature. doi:10.1038/nature11690</p>
                </div>
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://bioinformatics.oxfordjournals.org/content/early/2012/11/04/bioinformatics.bts652.full.pdf">Binary Interval Search (BITS): A Scalable Algorithm for Counting Interval Intersections.</a></h3>
                    <p class="text-muted">Layer R, Robins G, Skadron K, <strong>Quinlan AR†</strong>
                    <p class="text-muted">Bioinformatics. doi: 10.1093/bioinformatics/bts652</p>
                </div>
            </div>
             <div class="row text-center">
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://www.nature.com/ng/journal/v44/n8/full/ng.2348.html">TGFB2 mutations cause familial thoracic aortic aneurysms and dissections associated with mild systemic features of Marfan syndrome.</a></h3>
                    <p class="text-muted">Boileau C, Guo DC, Hanna N, Regalado ES, D, NHLBI Go Exome Sequencing Project, et al.
                    <p class="text-muted">Nature Genetics. doi:10.1038/ng.2348</p>
                </div>
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://www.nature.com/ng/journal/v44/n8/full/ng.2344.html">Exome sequencing of extreme phenotypes identifies DCTN4 as a modifier of chronic Pseudomonas aeruginosa infection in cystic fibrosis.</a></h3>
                    <p class="text-muted">Emond MJ, Louie T, Emerson J, Zhao W, NHLBI Exome Sequencing Project; Lung GO, Gibson RL, Bamshad MJ.
                    <p class="text-muted">Nature Genetics. doi:10.1038/ng.2344</p>
                </div>
            </div>
            <div class="row text-center">
            <h2 class="section-heading">2007-2012</h2>
            </div>
             <div class="row text-center">
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://genome.cshlp.org/content/early/2012/05/14/gr.138115.112.abstract">Copy number variation detection and genotyping from exome sequence data.</a></h3>
                    <p class="text-muted">Krumm N, Sudmant PH, Ko A, O‘Roak BJ, NHLBI Exome Sequencing Project, <strong>Quinlan AR</strong>, Nickerson DA, Eichler EE.
                    <p class="text-muted">Genome Research. doi: 10.1101/gr.138115.112</p>
                </div>
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://www.cell.com/trends/genetics/abstract/S0168-9525(11)00168-5?_returnURL=http%3A%2F%2Flinkinghub.elsevier.com%2Fretrieve%2Fpii%2FS0168952511001685%3Fshowall%3Dtrue">Characterizing complex structural variation in germline and somatic genomes.</a></h3>
                    <p class="text-muted"><strong>Quinlan AR</strong> and Hall IM.
                    <p class="text-muted">Trends in Genetics. doi: http://dx.doi.org/10.1016/j.tig.2011.10.002
</p>
                </div>
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://link.springer.com/protocol/10.1007%2F978-1-61779-507-7_11">Detection and interpretation of genomic structural variation in mammals.</a></h3>
                    <p class="text-muted"><strong>Quinlan AR</strong> and Hall IM.
                    <p class="text-muted">Methods in Molecular Biology</p>
                </div>
            </div>
             <div class="row text-center">
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3975295/">Genome sequencing of mouse induced pluripotent stem cells reveals retroelement stability and infrequent DNA rearrangement during reprogramming.</a></h3>
                    <p class="text-muted"><strong>Quinlan AR</strong>, Boland MJ, Leibowitz ML, Shumilina S, Pehrson SM, Baldwin KK, Hall IM.
                    <p class="text-muted">Cell Stem Cell. doi: 10.1016/j.stem.2011.07.018</p>
                </div>
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3285513/">Evidence for two independent associations with type 1 diabetes at the 12q13 locus.</a></h3>
                    <p class="text-muted">Keene KL, <strong>Quinlan AR</strong>, Hou X, Hall IM, Mychaleckyj, Onengut-Gumuscu S, Concannon P.
                    <p class="text-muted">Genes and Immunity. doi:  10.1038/gene.2011.56</p>
                </div>
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3232365/">Pybedtools: a flexible Python library for manipulating genomic datasets and annotations.</a></h3>
                    <p class="text-muted">Dale R, Pedersen B, <strong>Quinlan AR†</strong>.
                    <p class="text-muted">Bioinformatics. doi: 10.1093/bioinformatics/btr539</p>
                </div>
            </div>
             <div class="row text-center">
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3106182/">BamTools: a C++ API and toolkit for analyzing and managing BAM files.</a></h3>
                    <p class="text-muted">Barnett D, Garrison E, <strong>Quinlan AR</strong>, Stromberg M, Marth G.
                    <p class="text-muted">Bioinformatics. doi: 10.1093/bioinformatics/btr174</p>
                </div>
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://www.nature.com/nature/journal/v467/n7319/full/nature09534.html">A map of human genome variation from population-scale sequencing.</a></h3>
                    <p class="text-muted">1000 Genomes Project Consortium.
                    <p class="text-muted">Nature. doi: 10.1038/nature09534</p>
                </div>
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://bioinformatics.oxfordjournals.org/content/26/6/841.short">BEDTools: A flexible framework for comparing genomic features.</a></h3>
                    <p class="text-muted"><strong>Quinlan AR</strong> and Hall IM.
                    <p class="text-muted">Bioinformatics. doi: 10.1093/bioinformatics/btq033</p>
                </div>
            </div>
             <div class="row text-center">
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2860164/">Genome-wide mapping and assembly of structural variant breakpoints in the mouse genome.</a></h3>
                    <p class="text-muted"><strong>Quinlan AR</strong>, Clark RA, Sokolova, S, Leibowitx ML, Zhang Y, Hurles ME, Mell JC, Hall IM.
                    <p class="text-muted">Genome Research. doi: 10.1101/gr.102970.109</p>
                </div>
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2839279/">Population Genomic Inferences from Sparse High-Throughput Sequencing of Two Populations of Drosophila melanogaster.</a></h3>
                    <p class="text-muted">Sackton, TB, Kulathinal RJ, Bergman CM, <strong>Quinlan AR</strong>, Dopman E, Marth GT, Hartl DL, Clark AG.
                    <p class="text-muted">Genome Biol Evol. doi: 10.1093/gbe/evp048</p>
                </div>
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="">Rapid whole-genome mutational profiling using next-generation sequencing technologies.</a></h3>
                    <p class="text-muted">Smith D, <strong>Quinlan AR</strong>, Peckham HR, et al.
                    <p class="text-muted">Genome Research</p>
                </div>
            </div>
             <div class="row text-center">
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://genome.cshlp.org/content/18/10/1638.long">Whole Genome Sequencing and SNP Discovery for C. elegans using massively parallel sequencing-by-synthesis.</a></h3>
                    <p class="text-muted">Hillier LW, Marth GT, <strong>Quinlan AR</strong>, et al.
                    <p class="text-muted">Nature Methods. doi: 10.1101/gr.077776.108</p>
                </div>
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://www.nature.com/nmeth/journal/v5/n2/full/nmeth.1172.html">PyroBayes: Accurate quality scores for 454 Life Science pyrosequences.</a></h3>
                    <p class="text-muted"><strong>Quinlan AR</strong>, Stewart D, Stromberg M, Marth GT
                    <p class="text-muted">Nature Methods. doi:10.1038/nmeth.1172</p>
                </div>
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading"><a href="http://www.nature.com/nmeth/journal/v4/n3/full/nmeth0307-192.html">Primer-site SNPs mask mutations.</a></h3>
                    <p class="text-muted"><strong>Quinlan AR</strong> and Marth GT.
                    <p class="text-muted">Nature Methods. doi:10.1038/nmeth0307-192</p>
                </div>
            </div>
        </div>
    </section>