<!-- Portfolio Grid Section -->
<section id="software">
    <div class="container">
        <div class="row">
            <h1 class="section-heading">Software</h1>
            <h3 class="section-subheading text-muted">We strive to develop innovative, well-tested, and well-documented tools for genome research.</h3>
        </div>

        {% assign loopindex = 0 %}
        {% for post in site.categories.software %}
            {% assign loopindex = loopindex | plus: 1 %}
            {% assign rowfinder = loopindex | modulo: 3 %}
                {% if rowfinder == 1 %}
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                                <img src="img/software/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                            </a>
                            <div class="portfolio-caption">
                                <h3>{{ post.title }}</h4>
                                <p class="text-muted">{{ post.subtitle }}</p>
                            </div>
                        </div>
                {% elsif rowfinder == 0 %}
                        <div class="col-md-4 text-center">
                            <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                                <img src="img/software/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                            </a>
                            <div class="portfolio-caption">
                                <h3>{{ post.title }}</h4>
                                <p class="text-muted">{{ post.subtitle }}</p>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-4 text-center">
                        <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <img src="img/software/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h3>{{ post.title }}</h4>
                            <p class="text-muted">{{ post.subtitle }}</p>
                        </div>
                    </div>
                {% endif %}
        {% endfor %}
        {% if rowfinder != 0 %}
        </div>
        {% endif %}
    </div>
</section>
