<section id="teaching">
    <div class="container">
        <div class="row">
            <h1 class="section-heading">Teaching</h1>
            <div class="col-md-12">
                
                <h3 class="section-heading">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <a href="https://github.com/quinlan-lab/sllobs-biostats"> Salt Lake Learners of Biostats (SLLOBS)</a>
                </h3>
                <div class="row text-left">
                    <div class="col-md-4 text-center">
                        <div class="video-responsive">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/qdzEEPhlR6A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                       <h4>SLLOBS - Lecture 03 - Data Frames and crude RNA-seq analysis</h4>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="video-responsive">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/4G4mvSWvwWo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <h4>SLLOBS - Lecture 05 - Data Visualization with ggplot2</h4>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="video-responsive">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/issTuZPbBMw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <h4>SLLOBS - Lecture 08 - Intro to Probability with Coin Tosses</h4>
                    </div>
                </div>
                <div class="row text-left">
                    <div class="col-md-4 text-center">
                        <div class="video-responsive">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/UcdvK1A3Ank" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <h4>SLLOBS - Lecture 11 - Bayes's Rule, variance, prob. distributions, expectation, covariance</h4>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="video-responsive">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/jMAO8MvoUjA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <h4>SLLOBS - Lecture 12 - Poisson distributions in biology</h4>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="video-responsive">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/Iket_go0Oxk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <h4>SLLOBS - Lecture 13 - Gaussian Processes and QQ Plots</h4>
                    </div>
                </div>
                <div class="row text-left">
                    <div class="col-md-4 text-center">
                        <div class="video-responsive">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/golFyEZhVa8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <h4>SLLOBS - Lecture 14 - t-statistics, t-distribution, t-tests, and p-values</h4>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="video-responsive">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/KekLyPeet3k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <h4>SLLOBS - Lecture 16 - Intro to regression and model interpretation.</h4>
                    </div>
                </div>


                <h3 class="section-heading">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <a href="https://github.com/quinlan-lab/applied-computational-genomics">Applied Computational Genomics</a>
                </h3>


                <h3 class="section-heading">
                    Tutorials
                </h3>
                <div class="row text-left">
                    <div class="col-md-12">
                        <ul>
                            <li>
                                <h4><a href="/tutorials/bedtools/bedtools.html">A beginner's introduction to bedtools
                                        for genome arithmetic.</a></h4>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row text-left">
                    <div class="col-md-12">
                        <ul>
                            <li>
                                <h4><a href="/tutorials/samtools/samtools.html">A beginner's introduction to samtools
                                        for manipulating SAM and BAM files.</a></h4>
                            </li>
                        </ul>
                    </div>
                </div>
                <h3 class="section-heading">
                    Lectures
                </h3>
                <div class="row text-left">
                    <div class="col-md-12">
                        <ul>
                            <li>
                                <h4><a href="/lectures/EGAG-Variant-Discovery.pdf">An introduction to the discovery of
                                        genetic variation via DNA sequencing.</a></h4>
                            </li>
                            <li>
                                <h4><a href="/lectures/EGAG-Gene-Discovery.pdf">An introduction to strategies for
                                        mapping disease genes.</a></h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
