<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Lab</h2>                    
                    <h3 class="section-subheading text-muted">We are a hard working group of geneticists and computational biologists at the University of Utah in the <a href="http://www.genetics.utah.edu/">Departments of Human Genetics</a> and <a href="http://medicine.utah.edu/dbmi/">Biomedical Informatics</a>. We're committed to developing and applying cutting-edge methods to the understanding of genome biology and the genetic basis of disease. Working in our lab is a unique
                    opportunity to apply and learn large-scale genomics methodologies and to
                    make an impact on our understanding of human diseases. Please contact us if you
                    are passionate about future work in this area. To learn more about Salt Lake City and the incredible research and quality of life in Utah, please visit the <a href="http://healthsciences.utah.edu/why-utah.php">"Why Utah"</a> resource.</h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Alumni</h2>
                </div>
            </div>
            <div class="row">
                {% for member in site.alumni %}
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>